@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	height: 100vh;
}
.form-body {
	width: 80%;
}
input[type='submit']{
	border: black solid;
	cursor: pointer;
}
#login-form-container {
	display: flex;
  justify-content: center;
}
#form-container {
	display: flex;
    justify-content: center;
}
#insertForm {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.even-flex-row{
	display: flex;
	justify-content: space-between;
}

/* .even-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
} */
.form-group{
    width: 100%;
	display: flex;
	flex-direction: column;
}
.form-group> label{
	padding: 1rem;
}

#data-table {
	background-color: white;
}

.table-head {
	text-align: center;
	font-weight: bold;
	font-size: 1.25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem
}

#register-link> a {
	width: 20%;
}


table,
th,
td {
  border: 1px solid;
}

table {
  
  max-width: 100%;
  /* height: 240px;  */
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: bottom;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}


